@import "compass/css3";
@import "fonts";

/* Colors */
$cWhite:                 #FFFFFF;
$cGray5:                 #F1F1F1;
$cGray4:                 #CCCCCC;
$cGray3:                 #999999;
$cGray2:                 #666666;
$cGray1:                 #333333;
$cGray0:                 #000000;

/* Sprites */
// $icons-name-spacing:10px;
// @import "icons/*.png";

.hidden { display:none; }

.pull-left {
  float:right;
}

.pull-right {
  float:right;
}

.bottom-5 {
  margin-bottom: 5px;
}

.bottom-20 {
  margin-bottom: 20px;
}
.bottom-30 {
  margin-bottom: 30px;
}

.no-glow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin size($width, $height:$width) {

  @if $width  != false { width:  $width; }
  @if $height != false { height: $height; }

}

@mixin position($top, $right, $bottom, $left) {

  position: absolute;

  @if $top    != false { top:    $top; }
  @if $right  != false { right:  $right; }
  @if $bottom != false { bottom: $bottom; }
  @if $left   != false { left:   $left; }

}

@mixin glow($opacity) {
  -moz-box-shadow:0px 0px 6px 1px rgba($cWhite, $opacity); /* Firefox v3.5+ */
  -webkit-box-shadow:0px 0px 6px 1px rgba($cWhite, $opacity); /* Safari v3.0+ and by Chrome v0.2+ */
  box-shadow:0px 0px 6px 1px rgba($cWhite, $opacity); /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+  and by Opera v10.5+ */
  -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color = #33ffffff ,Strength = $opacity * 10)";
  filter:progid:DXImageTransform.Microsoft.Glow(Color = #33ffffff ,Strength = $opacity * 10);
}

@mixin button($url, $height, $mL, $pT, $pR, $pB, $pL, $offset-y) {
  @include inline-block();

  position:relative;

  height:$height;
  background: url($url) no-repeat left -1*($offset-y + $height);
  color:$cWhite;
  text-decoration:none;
  text-transform: uppercase;

  @extend .shadow-transition;

  & > span {
    @include inline-block();
    height: $height - $pT - $pB;
    margin-left: $mL;
    padding: $pT $pR $pB $pL;
    background: url($url) repeat-x right -1*$offset-y;
    white-space:nowrap;
  }
}

@mixin absolute-vertical-center($width) {
  position:absolute;
  left:50%;
  width: $width;
  margin-left: -1*$width / 2;
}

@mixin absolute-center($width, $height) {
  position:absolute;
  left:50%;
  top: 50%;
  margin-left: -1*$width / 2;
  margin-top:  -1*$height / 2;
  width: $width;
  height: $height;
}

@mixin clearfix() {
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.serif {
  font-family: "Georgia", serif;
}

.sans-serif {
  font-family: "SourceSansPro-Regular", Helvetica, Arial, sans-serif;
}
.sans-serif-extralight {
  font-family: "SourceSansPro-ExtraLight", Helvetica, Arial, sans-serif;
}
.sans-serif-light {
  font-family: "SourceSansPro-Light", Georgia;
}
.sans-serif-semibold {
  font-family: "SourceSansPro-Semibold", Helvetica, Arial, sans-serif;
}
.sans-serif-bold {
  font-family: "SourceSansPro-Bold", Helvetica, Arial, sans-serif;
}
.sans-serif-black {
  font-family: "SourceSansPro-Black", Helvetica, Arial, sans-serif;
}

@mixin font($font, $font-size, $color: false, $font-weight: false) {

  @if $font == "sans-serif"            { @extend .sans-serif; }
  @if $font == "sans-serif-extralight" { @extend .sans-serif-extralight; }
  @if $font == "sans-serif-light"      { @extend .sans-serif-light; }
  @if $font == "sans-serif-semibold"   { @extend .sans-serif-semibold; }
  @if $font == "sans-serif-bold"       { @extend .sans-serif-bold; }
  @if $font == "sans-serif-black"      { @extend .sans-serif-black; }

  @if $color       != false { color: $color; }
  @if $font-size   != false { font-size: $font-size; }
  @if $font-weight != false { font-weight: $font-weight; }

}
